body {
    background: rgb(197, 238, 221);
    font-family: helvetica, sans-serif;
    font-size: 1rem;
    padding: 0 1em;
}

/* Typography */

h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.4em;
}

a {
    color: rgb(57, 1, 186);
    text-decoration: underline;
    text-underline-offset: 2px;
}

a:hover {
    color: rgb(160, 0, 200);
    text-decoration: none;
}

a:focus {
    outline-color: rgb(255, 95, 27);
}

hr {
    border-color:rgb(57, 1, 186);
}

ul li, ol li, dl li {
    font-size: 1rem;
    line-height: 1.4em;
    margin-bottom: .5rem;
}

/* Layout */

.wrapper {
    max-width: 70rem;   
    margin: 2rem auto;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,.4);
}

header {
    margin: 0;
    background: white;
    padding: .75rem 2rem;
    border-bottom: 1px solid #ccc;
    border-radius: 6px 6px 0 0;
}

.col-area {
    display: flex; 
    padding: 2rem;
}

nav {
    flex-basis: 25%;    
}

main {
    flex-basis: 75%; 
}

/* Responsive Layout */

@media only screen and (max-width: 600px) {
    .col-area {
        display: block; 
    }
    nav {
        margin-bottom: 2rem;
    }
  }

/* Navigation */

ul.nav {
    list-style: none;
    margin: 0;
    padding: 0 2rem 0 0;
}

ul.nav li {
    display: block;
}

ul.nav li a, ul.nav li span {
    display: block;
    padding: .5rem 1.25rem;
    border-radius: 30px;
    text-align: center;
}

ul.nav li a {
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #ccc;
}

ul.nav li a:hover {
    background-color:rgb(160, 0, 200);
    text-decoration: none;
    color: white;
}

ul.nav li a.current {
    background-color:rgb(160, 0, 200);
    text-decoration: none;
    color: white;
}

footer {
    border-top: 1px solid #ccc;
    padding: .5rem 2rem;
}

/* Assignments Page */

ul.assignments {
    list-style: none;
    margin-left: 0;
    padding-left: 0;  
}

ul.assignments li {
    display: inline-block;
    width: 30%;
}

ul.assignments li a {
    display: block;
    background: white;
    border-radius: .5rem;
    padding: .5rem;
    text-align: center;
    font-size: 1.2rem;
    
}

ul.assignments li a:hover {
    
}

ul.assignments li img {
    max-width: 100%;
    filter: grayscale(100%);
}

ul.assignments li a:hover img {
    filter: none;  
}

/* HW 1B */

img.hw1b-image {
    float: left;
    margin: 0 2rem 2rem 0;
}

/* Mini Project 1 */

img.width-150 {
    width: 150px;
    height: auto;
}

img.float-left {
    float: left;
    margin: 0 1rem 1rem 0;
}

/* Homework 4 */

body.hw4 {
    background: url(../images/student.jpg) bottom left no-repeat, url(../images/elementarystudent.png) top right no-repeat, #fcffd0;
}

.hw4 .wrapper {
    max-width: 60rem;
} 

.hw4 h1 {
    color:#0056c2;
    text-align: center;
    font-size: 3.5rem;
}

.hw4 p.large {
    font-size: 1.2em;
    line-height: 1.5em;
}

.hw4 figure {
    margin: 0;
    padding: 0;
}

.hw4 figure img {
    max-width: 100%;
}

.hw4 figcaption {
    text-align: center;
    font-size: .9em;
    font-style: italic;
}








