body {
    /*background: rgb(116, 184, 146);*/
    background: rgb(41, 170, 176);
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1rem;
    padding: 0 1em;
}

/**/

h1 {
    font-size: 1.6rem;
    font-weight: 800;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .9rem;
}

p {
    font-size: 1rem;
}

p.giant {
    font-size: 5rem; 
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.right-align {
    text-align: right;
}

a {
    color: rgb(57, 1, 186);
    text-decoration: underline;
    text-underline-offset: 2px;
}

a:hover {
    color: rgb(160, 0, 200);
    text-decoration: none;
}

a:visited {
    color: rgb(26, 0, 87);
}

a:focus {
    outline-color: rgb(255, 95, 27);
}

.button, .button-small {
    display: inline-block;
    border-radius: .3rem;
    padding: .8rem 1rem;
    font-weight: 900;
    text-decoration: none;
    background: rgb(57, 1, 186);
    box-shadow: 2px 2px 5px rgba(0,0,0, .4);
    color: white;
    font-size: 1.1em;
}

.button:hover, .button-small:hover {
    background: rgb(76, 0, 255);
    text-decoration: underline;
    text-underline-offset: 3px;
    color: white;
}

.button:visited {
    color: white;
}

.button.button-topmarg {
    margin-top: 3em;
}

span.tag {
    display: inline-block;
    padding: .2rem .4rem;
    border-radius: .2rem;
    background-color: #eee;
    color: #333;
    font-size: .9rem;
    margin-left: .2rem;
}

/**/

.wrapper {
    max-width: 70rem;   
    margin: 5rem auto;
    background-color: white;
    border-radius: .5rem; 
    border-left: 15px solid rgba(229, 255, 61); 
    box-shadow: 3px 3px 10px rgba(0,0,0, .4);
}

.wrapper-narrow {
    max-width: 25rem;
}

header {
    padding: 1rem 2rem;
}

main {
    padding: 0 2rem 2rem;   
}

/* Icons */

.material-symbols-outlined {
    font-size: 1.2rem;
    display: inline-block;
    vertical-align: bottom;
}

/* Index Page */

.home h2 {
    font-size: 1.2rem;
}

ul.homework-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.homework-links li { 
    
}

ul.homework-links li:last-child {
    
}

ul.homework-links li a {    
    display: block;
    padding: 1rem 2rem;
    background-color: #eee;
    border-left: 1px solid #ddd;
    border-top: 2px solid #ddd;
}

ul.homework-links li a.completed { 
    background-color: rgb(250, 255, 220);
    border-left: 1px solid rgb(220, 234, 131);
    border-top: 2px solid rgb(220, 234, 131);
}

ul.homework-links li a:hover {    
    background-color: #fff;
}

ul.homework-links li:last-child a {
    border-radius: 0 0 .5rem .5rem; 
}

/* save for later: completed class




ul.homework-links li a.completed:hover {
    background-color: white;
    color: rgb(148, 0, 148);
}

*/

/* Homework Subpages */

h1 span.hw-number {
    display: inline-block;
    border-radius: .2em;
    padding: .2em .6em;
    color: white;
    background-color: rgb(160, 0, 200);
}

h1 span.hw-part {
    display: inline-block;
    border-radius: .2em;
    padding: .2em .6em;
    border: 1px solid  rgb(160, 0, 200);  
    color: rgb(160, 0, 200);  
}

.back-link {
    display: block;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em;
}

.back-link a {
    display: inline-block;
    padding-right: .75em;
    padding-left: .75em;
    border-left: 1px solid #ccc;
}

.back-link a:first-child {
    padding-left: 0;
    border-left: 0;
}

.back-link a.current-page {
    text-decoration: none;
    color: #555;
}

.back-link-bottom {
    display: block;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    margin-top: 2em;
}

.announcement {
    background: rgb(234, 255, 204);
    padding: 2rem 4rem 2rem;
}

.announcement p {
    color: rgb(86, 115, 44);
    font-size: 3rem;
    text-align: center;
}

.panel_group {
    display: flex;
    gap: 1rem;
}

.panel {
    background: #eee;
    border-radius: .4rem;
    padding: 1rem 2rem;
    flex: 1;
}

.panel-green {
    background: #d2f7e0;
}

@media (max-width: 992px) {
    .panel_group {
        display: block;
    }
    .panel {
        margin-bottom: .5rem;
    }
}

/* Forms */

form {
    
}

.field-group {
    display: block;
    padding: .5rem 0;
}

.validation {
}

.error {
    display: block;
    background-color: #ffb7b7;
    border: 1px solid red;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: .3rem;
}

input[type=submit], input[type=button], input[type=reset], button {
    cursor: pointer;
}
input[type=text] {
    padding: .3rem .5rem;
    font-size: 1em;
    font-family: inherit;
}

form .button, .button-small {
    padding: .45rem .8rem;
    font-size: 1rem;
    border: none;
    margin: .5rem 1rem .5rem 0;
}

form .button-secondary {
    background: #555;
}

form .reset {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1em;
    color: rgb(57, 1, 186);
    text-decoration: underline;
    text-underline-offset: 2px;
}
    
form .reset:hover {
    color: rgb(160, 0, 200);
    text-decoration: none;
}

/* Tables */

table {
    border: 1px solid #ccc;
    margin: 1em 0;
}

th {
    border: 1px solid #ccc;   
}

td {
    padding: .5rem;
    border: 1px solid #ccc;
}

/* Homework 2 */

    /* Part 2 */

    .hw2 #error { 
        display: none;
    }

    /* Extra Credit */

    .exchange-rate-wrapper {
        display: inline-block;
        max-width: 620px;
    }

    #flip {cursor: pointer;}

    #instruct-panel, #flip {
        padding: 5px;
        text-align: center;
        background-color: #D2F7E0;
        border: solid 1px #98dcb2;
    }
    
    #instruct-panel {
        padding: 1rem 2rem;
        display: none;
    }

    form#exchange-rates {
        width: 100%;
    }








